<main class="container">
    <div class="banner">
        <img src="../../assets/images/Home/10882@2x.png" alt="" class="banner__img">
        <h2>Pegue Uma Fatia</h2>
        <div class="banner__button">
            <button class="banner__button--apple" type="submit">
                <a href="http://www.gooogle.com" target="_blank" rel="noopener noreferrer">
                    <img class="img__apple" src="../../assets/images/apple.svg" alt="">
                    <small class="img__apple--small">Download on the</small><br>
                    <strong class="img__apple--strong">App Store</strong>
                </a>
            </button>

            <!-- teste de branch -->

            <button class="banner__button--google" type="submit">
                <a href="http://www.google.com" target="_blank" rel="noopener noreferrer">
                    <img class="img__google" src="../../assets/images/google.svg" alt="">
                    <small class="img__google--small">Get it on </small><br>
                    <strong class="img__google--strong">Google Play</strong>
                </a>
            </button>
        </div>
    </div>
</main>