@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* FONTS */

h1, h2, h3, h4, h5, a {
    text-align: left;
    font: normal normal normal 25px/33px ;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    color: #2E4765;
    text-transform: capitalize;
    opacity: 1;
}

.navbar-brand {
    color: #EF4C00;
    position: relative;
    top: -19px;
}

.navbar-brand:hover {
    color: #ff8f00;
}

.navbar-light .navbar-nav .nav-link {
    color: #2E4765;
}

.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
    align-items: center;

}

.nav__link--image {
    width: 45px;
    border-radius: 50%;
}

.nav__link--li {
    border-right: 1px solid rgba(0,0,0,0.1);
    padding-right: 15px;
    height: 7.2em;
    position: relative;
    top: 29px;
    margin-top: -68px;
}

.nav__link--cart {
    top: 33px;
    left: 1787px;
    width: 115px;
    height: 48px;
    background: #EF4C00 0% 0% no-repeat padding-box;
    border-radius: 28px;
    opacity: 1;
    border: none;
    color: white;
    outline: none;
    margin-left: 15px;
}

.nav__link--cart:hover{
    background-color: #ff6a00;
    box-shadow: 0px 15px 20px rgba(255, 106, 0, 0.20);
    color: #fff;
    transform: translateY(-1px);
}

.navbar {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 38px;
}

.navbar-nav {
    align-items: flex-end;
}

.navbar-expand-lg .navbar-collapse {
    position: relative;
    top: -20px;

}

.navbar-nav li a:hover {
    border-bottom: 3px solid red;
}