<div class="container">
    <aside class="esquerda">
        <div class="topo">  
            <h1>CODAR Pizzaria</h1>
            <h2>PEGUE UMA FATIA</h2>
        </div>
        
        <footer>
            <div class="banner__button">
                
                <button class="banner__button--apple" type="submit">
                    
                    <a target="_blank" href="https://apps.apple.com/br/app/apple-store/id375380948">
                        
                        <img class="img__apple" src="../../assets/img/apple.svg" alt="">
                        
                        <small class="img__apple--small">Download on the</small><br> 
                        <strong class="img__apple--strong">App Store</strong>
                    </a>
                </button>
                
                <button class="banner__button--google" type="submit">
                    <a target="_blank" href="http://google.com">
                        
                        <img class="img__google" src="../../assets/img/google-play.svg" alt="">
                        
                        <small class="img__google--small">Get it on </small>
                        <br>
                        <strong class="img__google--strong">Google Play</strong>
                    </a>
                </button>
            </div>
        </footer>
        
    </aside>
    
    <div class="direita">
        
        <div class="titulo">
            <h1>CADASTRAR-SE</h1>
           <div risco></div>
        </div>
        <hr class="rabisco">
        
        <form action="">
            <div class="forms">
                <div class="input-block">
                    <input type="text" placeholder="Nome completo" required>
                </div>
                <div class="input-block">
                    <input type="email" placeholder="E-mail" required>
                </div>
                <div class="input-block">
                    <input type="password" placeholder="Senha" required>
                </div>
                <div class="input-block">
                    <input type="password" placeholder="Confirmar Senha" required>
                </div>
                <button class="button">
                    Registrar-se 
                </button>
            </div>
        </form>
        <footer class="marca">
            Codar Pizzaria 2020
        </footer>
    </div>
</div>
