<div class="vertical-center">
<div class="container">
    <div class="esquerda">
        <div class="topo">  
            <h1>CODAR Pizzaria</h1>
            <h2>PEGUE UMA FATIA</h2>
        </div>
        
        <footer>
            <div class="banner__button">
                
                <button class="banner__button--apple" type="submit">
                  
                    <a target="_blank" href="https://apps.apple.com/br/app/apple-store/id375380948">
                        <div>
                        <img class="img__apple" src="../../assets/img/apple.svg" alt="">
                    </div>
                    <div>
                        <small class="img__apple--small">Download on the</small><br> 
                        <strong class="img__apple--strong">App Store</strong>
                    </div>
                 </a>
                </button>
                
                <button class="banner__button--google" type="submit">
                    <a target="_blank" href="https://play.google.com/store">
                        <div class="img">
                        <img class="img__google" src="../../assets/img/google-play.svg" alt="">
                    </div><div class="text">
                        <small >Get it on </small>
                        <br>
                        <strong>Google Play</strong>
                    </div>
                 </a>
                </button>
            </div>
        </footer>
        
    </div>

<div class="direita">
<div class="titulo">
    <h1>Efetuar login</h1>
    <hr class="risco">
</div>
<hr class="divisao">
<div class="formula"></div>
    <form>
        
        <div class="input-block">
            <input type="email" placeholder="E-mail" name="email"  required>
        </div>    
         <div class="input-block">
            <input type="password" placeholder="Senha"  name="password" required> <br>
            <div class="esquecer">
            <small>Esqueceu sua senha?</small>
        </div>
        </div> 

        <button class="acesso">
            Acessar
        </button>
    </form>
    <div class="criar">
<a routerLink="/register">
Criar uma conta</a>

<footer>
    <div class="rodape">
        Codar Pizzaria 2020
    </div>
</footer>
</div>
</div>
</div>
</div>